@use "../abstract/function" as fun;
@use "../abstract/mixins" as mixins;


footer {
  padding: 2rem 0;
  text-align: center;
  color: #fff;
  background-color: rgb(51, 51, 51);

  &>div h2 span{
    @include mixins.responsive(xs) {
     font-weight: 400;
     font-size: 1.3rem;
    }
  }

  p {
    color: #e8e8e8;
  }

  .social-icon > a > i {
    font-size: 1.5rem;
    padding: 0 10px;
    color: rgb(224, 224, 224);
    transition: 300ms;
  }
  .social-icon a:nth-child(1) i:hover {
    transition: 300ms;
    color: rgb(35, 86, 255);
  }
  .social-icon a:nth-child(2) i:hover {
    transition: 300ms;
    color: rgb(128, 128, 128);
  }
  .social-icon a:nth-child(3) i:hover {
    transition: 300ms;
    color: rgb(193, 35, 255);
  }
  .social-icon a:nth-child(4) i:hover {
    transition: 300ms;
    color: rgb(255, 35, 53) ;
  }
  .legal p{
    font-size: .9rem;
    color: #fff ;

  }
}
