@use "../abstract/function" as fun;
@use "../abstract/mixins" as mixins;

.header {
  padding: 1rem 20rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
  background: #f8f8f8;

  @include mixins.responsive(xs) {
    padding: 1rem 2rem;
  }

  @include mixins.responsive(sm) {
    padding: 1rem 2rem;
  }

  h2 span {
    color: #4d4d4d;
    @include mixins.responsive(xs) {
      font-size: 1rem;
    }
  }

  .nav-toggler {
    display: none;
    @include mixins.responsive(xs) {
      font-size: 1.4rem;
      display: block;
    }

    @include mixins.responsive(sm) {
      font-size: 1.4rem;
      display: block;
    }
  }

  &--menu {
    display: flex;
    list-style: none;
    text-transform: uppercase;
    align-items: center;

    @include mixins.responsive(xs) {
      display: none;
    }

    @include mixins.responsive(sm) {
      display: none;
    }

    &__item a {
      margin-right: 5rem;
      font-size: 14px;
      font-weight: 600;
      color: #242424;
      transition: 300ms;

      &:hover {
        color: fun.theme-color("primary-hover");
      }
      &.active {
        color: fun.theme-color("primary-hover");
      }
    }
  }
}
