@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Mukta+Malar:wght@400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

.font-ta {
  font-family: "Mukta Malar", sans-serif;
}

.text-upper {
  text-transform: uppercase;
}

.color-anim {
  animation: color-change 8s infinite;
  transition: 300ms;
}

.line {
  width: 6rem;
  border-radius: 10px;
  background: linear-gradient(to right, rgb(255, 32, 136), rgb(31, 35, 255));
  height: 0.5rem;
  margin: 20px auto;
}

.img-responsive {
  max-width: 100%;
  height: auto;
}

.hidden {
  display: none;
}

@keyframes color-change {
  0%, 100% {
    color: red;
  }
  33% {
    color: rgb(0, 255, 0);
  }
  66% {
    color: blue;
  }
}
@keyframes box-shape {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes pulse {
  0% {
    transform: scale(0.75);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.75);
  }
}
@keyframes rotate-infinite {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.m-1 {
  margin: 1rem !important;
}

.p-1 {
  padding: 1rem !important;
}

.mt-1 {
  margin-top: 1rem !important;
}

.pt-1 {
  padding: 1rem !important;
}

.mr-1 {
  margin-right: 1rem !important;
}

.pr-1 {
  padding: 1rem !important;
}

.mb-1 {
  margin-bottom: 1rem !important;
}

.pb-1 {
  padding: 1rem !important;
}

.ml-1 {
  margin-left: 1rem !important;
}

.pl-1 {
  padding: 1rem !important;
}

.m-2 {
  margin: 2rem !important;
}

.p-2 {
  padding: 2rem !important;
}

.mt-2 {
  margin-top: 2rem !important;
}

.pt-2 {
  padding: 2rem !important;
}

.mr-2 {
  margin-right: 2rem !important;
}

.pr-2 {
  padding: 2rem !important;
}

.mb-2 {
  margin-bottom: 2rem !important;
}

.pb-2 {
  padding: 2rem !important;
}

.ml-2 {
  margin-left: 2rem !important;
}

.pl-2 {
  padding: 2rem !important;
}

.m-3 {
  margin: 3rem !important;
}

.p-3 {
  padding: 3rem !important;
}

.mt-3 {
  margin-top: 3rem !important;
}

.pt-3 {
  padding: 3rem !important;
}

.mr-3 {
  margin-right: 3rem !important;
}

.pr-3 {
  padding: 3rem !important;
}

.mb-3 {
  margin-bottom: 3rem !important;
}

.pb-3 {
  padding: 3rem !important;
}

.ml-3 {
  margin-left: 3rem !important;
}

.pl-3 {
  padding: 3rem !important;
}

.m-4 {
  margin: 4rem !important;
}

.p-4 {
  padding: 4rem !important;
}

.mt-4 {
  margin-top: 4rem !important;
}

.pt-4 {
  padding: 4rem !important;
}

.mr-4 {
  margin-right: 4rem !important;
}

.pr-4 {
  padding: 4rem !important;
}

.mb-4 {
  margin-bottom: 4rem !important;
}

.pb-4 {
  padding: 4rem !important;
}

.ml-4 {
  margin-left: 4rem !important;
}

.pl-4 {
  padding: 4rem !important;
}

.m-5 {
  margin: 5rem !important;
}

.p-5 {
  padding: 5rem !important;
}

.mt-5 {
  margin-top: 5rem !important;
}

.pt-5 {
  padding: 5rem !important;
}

.mr-5 {
  margin-right: 5rem !important;
}

.pr-5 {
  padding: 5rem !important;
}

.mb-5 {
  margin-bottom: 5rem !important;
}

.pb-5 {
  padding: 5rem !important;
}

.ml-5 {
  margin-left: 5rem !important;
}

.pl-5 {
  padding: 5rem !important;
}

.m-6 {
  margin: 6rem !important;
}

.p-6 {
  padding: 6rem !important;
}

.mt-6 {
  margin-top: 6rem !important;
}

.pt-6 {
  padding: 6rem !important;
}

.mr-6 {
  margin-right: 6rem !important;
}

.pr-6 {
  padding: 6rem !important;
}

.mb-6 {
  margin-bottom: 6rem !important;
}

.pb-6 {
  padding: 6rem !important;
}

.ml-6 {
  margin-left: 6rem !important;
}

.pl-6 {
  padding: 6rem !important;
}

.m-7 {
  margin: 7rem !important;
}

.p-7 {
  padding: 7rem !important;
}

.mt-7 {
  margin-top: 7rem !important;
}

.pt-7 {
  padding: 7rem !important;
}

.mr-7 {
  margin-right: 7rem !important;
}

.pr-7 {
  padding: 7rem !important;
}

.mb-7 {
  margin-bottom: 7rem !important;
}

.pb-7 {
  padding: 7rem !important;
}

.ml-7 {
  margin-left: 7rem !important;
}

.pl-7 {
  padding: 7rem !important;
}

.m-8 {
  margin: 8rem !important;
}

.p-8 {
  padding: 8rem !important;
}

.mt-8 {
  margin-top: 8rem !important;
}

.pt-8 {
  padding: 8rem !important;
}

.mr-8 {
  margin-right: 8rem !important;
}

.pr-8 {
  padding: 8rem !important;
}

.mb-8 {
  margin-bottom: 8rem !important;
}

.pb-8 {
  padding: 8rem !important;
}

.ml-8 {
  margin-left: 8rem !important;
}

.pl-8 {
  padding: 8rem !important;
}

.m-9 {
  margin: 9rem !important;
}

.p-9 {
  padding: 9rem !important;
}

.mt-9 {
  margin-top: 9rem !important;
}

.pt-9 {
  padding: 9rem !important;
}

.mr-9 {
  margin-right: 9rem !important;
}

.pr-9 {
  padding: 9rem !important;
}

.mb-9 {
  margin-bottom: 9rem !important;
}

.pb-9 {
  padding: 9rem !important;
}

.ml-9 {
  margin-left: 9rem !important;
}

.pl-9 {
  padding: 9rem !important;
}

.m-10 {
  margin: 10rem !important;
}

.p-10 {
  padding: 10rem !important;
}

.mt-10 {
  margin-top: 10rem !important;
}

.pt-10 {
  padding: 10rem !important;
}

.mr-10 {
  margin-right: 10rem !important;
}

.pr-10 {
  padding: 10rem !important;
}

.mb-10 {
  margin-bottom: 10rem !important;
}

.pb-10 {
  padding: 10rem !important;
}

.ml-10 {
  margin-left: 10rem !important;
}

.pl-10 {
  padding: 10rem !important;
}

.m-11 {
  margin: 11rem !important;
}

.p-11 {
  padding: 11rem !important;
}

.mt-11 {
  margin-top: 11rem !important;
}

.pt-11 {
  padding: 11rem !important;
}

.mr-11 {
  margin-right: 11rem !important;
}

.pr-11 {
  padding: 11rem !important;
}

.mb-11 {
  margin-bottom: 11rem !important;
}

.pb-11 {
  padding: 11rem !important;
}

.ml-11 {
  margin-left: 11rem !important;
}

.pl-11 {
  padding: 11rem !important;
}

.m-12 {
  margin: 12rem !important;
}

.p-12 {
  padding: 12rem !important;
}

.mt-12 {
  margin-top: 12rem !important;
}

.pt-12 {
  padding: 12rem !important;
}

.mr-12 {
  margin-right: 12rem !important;
}

.pr-12 {
  padding: 12rem !important;
}

.mb-12 {
  margin-bottom: 12rem !important;
}

.pb-12 {
  padding: 12rem !important;
}

.ml-12 {
  margin-left: 12rem !important;
}

.pl-12 {
  padding: 12rem !important;
}

.m-13 {
  margin: 13rem !important;
}

.p-13 {
  padding: 13rem !important;
}

.mt-13 {
  margin-top: 13rem !important;
}

.pt-13 {
  padding: 13rem !important;
}

.mr-13 {
  margin-right: 13rem !important;
}

.pr-13 {
  padding: 13rem !important;
}

.mb-13 {
  margin-bottom: 13rem !important;
}

.pb-13 {
  padding: 13rem !important;
}

.ml-13 {
  margin-left: 13rem !important;
}

.pl-13 {
  padding: 13rem !important;
}

.m-14 {
  margin: 14rem !important;
}

.p-14 {
  padding: 14rem !important;
}

.mt-14 {
  margin-top: 14rem !important;
}

.pt-14 {
  padding: 14rem !important;
}

.mr-14 {
  margin-right: 14rem !important;
}

.pr-14 {
  padding: 14rem !important;
}

.mb-14 {
  margin-bottom: 14rem !important;
}

.pb-14 {
  padding: 14rem !important;
}

.ml-14 {
  margin-left: 14rem !important;
}

.pl-14 {
  padding: 14rem !important;
}

.m-15 {
  margin: 15rem !important;
}

.p-15 {
  padding: 15rem !important;
}

.mt-15 {
  margin-top: 15rem !important;
}

.pt-15 {
  padding: 15rem !important;
}

.mr-15 {
  margin-right: 15rem !important;
}

.pr-15 {
  padding: 15rem !important;
}

.mb-15 {
  margin-bottom: 15rem !important;
}

.pb-15 {
  padding: 15rem !important;
}

.ml-15 {
  margin-left: 15rem !important;
}

.pl-15 {
  padding: 15rem !important;
}

.m-16 {
  margin: 16rem !important;
}

.p-16 {
  padding: 16rem !important;
}

.mt-16 {
  margin-top: 16rem !important;
}

.pt-16 {
  padding: 16rem !important;
}

.mr-16 {
  margin-right: 16rem !important;
}

.pr-16 {
  padding: 16rem !important;
}

.mb-16 {
  margin-bottom: 16rem !important;
}

.pb-16 {
  padding: 16rem !important;
}

.ml-16 {
  margin-left: 16rem !important;
}

.pl-16 {
  padding: 16rem !important;
}

.m-17 {
  margin: 17rem !important;
}

.p-17 {
  padding: 17rem !important;
}

.mt-17 {
  margin-top: 17rem !important;
}

.pt-17 {
  padding: 17rem !important;
}

.mr-17 {
  margin-right: 17rem !important;
}

.pr-17 {
  padding: 17rem !important;
}

.mb-17 {
  margin-bottom: 17rem !important;
}

.pb-17 {
  padding: 17rem !important;
}

.ml-17 {
  margin-left: 17rem !important;
}

.pl-17 {
  padding: 17rem !important;
}

.m-18 {
  margin: 18rem !important;
}

.p-18 {
  padding: 18rem !important;
}

.mt-18 {
  margin-top: 18rem !important;
}

.pt-18 {
  padding: 18rem !important;
}

.mr-18 {
  margin-right: 18rem !important;
}

.pr-18 {
  padding: 18rem !important;
}

.mb-18 {
  margin-bottom: 18rem !important;
}

.pb-18 {
  padding: 18rem !important;
}

.ml-18 {
  margin-left: 18rem !important;
}

.pl-18 {
  padding: 18rem !important;
}

.m-19 {
  margin: 19rem !important;
}

.p-19 {
  padding: 19rem !important;
}

.mt-19 {
  margin-top: 19rem !important;
}

.pt-19 {
  padding: 19rem !important;
}

.mr-19 {
  margin-right: 19rem !important;
}

.pr-19 {
  padding: 19rem !important;
}

.mb-19 {
  margin-bottom: 19rem !important;
}

.pb-19 {
  padding: 19rem !important;
}

.ml-19 {
  margin-left: 19rem !important;
}

.pl-19 {
  padding: 19rem !important;
}

.m-20 {
  margin: 20rem !important;
}

.p-20 {
  padding: 20rem !important;
}

.mt-20 {
  margin-top: 20rem !important;
}

.pt-20 {
  padding: 20rem !important;
}

.mr-20 {
  margin-right: 20rem !important;
}

.pr-20 {
  padding: 20rem !important;
}

.mb-20 {
  margin-bottom: 20rem !important;
}

.pb-20 {
  padding: 20rem !important;
}

.ml-20 {
  margin-left: 20rem !important;
}

.pl-20 {
  padding: 20rem !important;
}

.space-x-1 > * {
  margin-right: 1rem;
}

.space-y-1 > * {
  margin-bottom: 1rem;
}

.space-x-2 > * {
  margin-right: 2rem;
}

.space-y-2 > * {
  margin-bottom: 2rem;
}

.space-x-3 > * {
  margin-right: 3rem;
}

.space-y-3 > * {
  margin-bottom: 3rem;
}

.space-x-4 > * {
  margin-right: 4rem;
}

.space-y-4 > * {
  margin-bottom: 4rem;
}

.space-x-5 > * {
  margin-right: 5rem;
}

.space-y-5 > * {
  margin-bottom: 5rem;
}

.btn, .btn-primary-outline, .btn-primary {
  padding: 0.7rem 1.6rem;
  border-radius: 6px;
  font-size: 0.8rem !important;
  font-weight: 600 !important;
  display: inline-block;
  outline: none;
  border: none;
  cursor: pointer;
  transition: 500ms;
}
.btn-primary {
  background: #3f43fd;
  color: #fff;
}
.btn-primary:hover {
  background: #3135e8;
}
.btn-primary-outline {
  background: #fff;
  border: 2px solid #3f43fd;
  color: #3f43fd;
  transition: 500ms;
}
.btn-primary-outline:hover {
  background: #3135e8;
  color: #fff;
}

.badge, .badge-primary {
  padding: 0px 10px;
  border-radius: 6px;
}
.badge-primary {
  background: #3f43fd;
  color: #fff;
}

.form-control {
  padding: 0.8rem 1.5rem;
  background-color: rgb(247, 247, 247);
  border: none;
  border-radius: 6px;
  outline: none;
  width: 100%;
}
.form-control:focus {
  border: 1px solid #3f43fd;
}

.resize-x {
  resize: horizontal;
}

.resize-none {
  resize: none;
}

.header {
  padding: 1rem 20rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
  background: #f8f8f8;
}
@media only screen and (max-width: 576px) {
  .header {
    padding: 1rem 2rem;
  }
}
@media only screen and (min-width: 576px) {
  .header {
    padding: 1rem 2rem;
  }
}
@media only screen and (min-width: 768px) {
  .header {
    padding: 1rem 2rem;
  }
}
@media only screen and (min-width: 992px) {
  .header {
    padding: 1rem 4rem;
  }
}
@media only screen and (min-width: 1200px) {
  .header {
    padding: 1rem 15rem;
  }
  .header h2 {
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: 1400px) {
  .header {
    padding: 1rem 20rem;
  }
}
.header h2 span {
  color: #4d4d4d;
}
@media only screen and (max-width: 576px) {
  .header h2 span {
    font-size: 1rem;
  }
}
.header .nav-toggler {
  display: none;
}
@media only screen and (max-width: 576px) {
  .header .nav-toggler {
    font-size: 1.4rem;
    display: block;
  }
}
@media only screen and (min-width: 576px) {
  .header .nav-toggler {
    font-size: 1.4rem;
    display: block;
  }
}
@media only screen and (min-width: 768px) {
  .header .nav-toggler {
    font-size: 1.4rem;
    display: block;
  }
}
@media only screen and (min-width: 992px) {
  .header .nav-toggler {
    font-size: 1.4rem;
    display: none;
  }
}
.header--menu {
  display: flex;
  list-style: none;
  text-transform: uppercase;
  align-items: center;
}
@media only screen and (max-width: 576px) {
  .header--menu {
    display: none;
    position: fixed;
    top: -100%;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgb(255, 161, 161);
    z-index: 1;
    transition: 500ms;
  }
  .header--menu.show {
    display: block;
    top: 68px;
    text-align: center;
  }
  .header--menu li {
    padding: 2rem;
  }
  .header--menu li a {
    color: #fff;
    margin: 0;
  }
}
@media only screen and (min-width: 576px) {
  .header--menu {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  .header--menu {
    display: none;
  }
}
@media only screen and (min-width: 992px) {
  .header--menu {
    display: flex;
  }
}
.header--menu__item a {
  margin-right: 5rem;
  font-size: 14px;
  font-weight: 600;
  color: #242424;
  transition: 300ms;
}
@media only screen and (min-width: 992px) {
  .header--menu__item a {
    margin-right: 3rem;
  }
}
@media only screen and (min-width: 1200px) {
  .header--menu__item a {
    margin-right: 2rem;
  }
}
.header--menu__item a:hover {
  color: #3135e8;
}
.header--menu__item a.active {
  color: #3135e8;
}

@media only screen and (max-width: 576px) {
  .background-shapes {
    display: none;
  }
}
.background-shapes .box, .background-shapes .box5, .background-shapes .box4, .background-shapes .box3, .background-shapes .box2, .background-shapes .box1 {
  position: absolute;
  width: 15px;
  height: 15px;
  background: transparent;
  border-radius: 0.35rem;
  z-index: -1;
  transform: rotate(360deg);
  animation: box-shape linear 5s infinite;
}
.background-shapes .dot, .background-shapes .dot4, .background-shapes .dot3, .background-shapes .dot2, .background-shapes .dot1 {
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  z-index: -1;
}
.background-shapes .icon, .background-shapes .icon5, .background-shapes .icon4, .background-shapes .icon3, .background-shapes .icon2, .background-shapes .icon1 {
  position: absolute;
  font-size: 18px;
  transform: scale(1);
  animation: pulse 2s infinite;
}
.background-shapes .icon1 {
  color: #f51717;
  top: 20%;
  right: 50%;
}
@media only screen and (min-width: 576px) {
  .background-shapes .icon1 {
    top: 18%;
    right: 50%;
  }
}
.background-shapes .icon2 {
  color: #fd3fed;
  bottom: 20%;
  left: 45%;
  animation: box-shape linear 5s infinite;
}
@media only screen and (min-width: 576px) {
  .background-shapes .icon2 {
    bottom: 52%;
    left: 35%;
  }
}
@media only screen and (min-width: 992px) {
  .background-shapes .icon2 {
    bottom: 68%;
    left: 45%;
  }
}
.background-shapes .icon3 {
  color: #2617f5;
  top: 25%;
  right: 70%;
}
@media only screen and (min-width: 576px) {
  .background-shapes .icon3 {
    top: 50%;
    right: 80%;
  }
}
@media only screen and (min-width: 992px) {
  .background-shapes .icon3 {
    top: 15%;
    right: 80%;
  }
}
.background-shapes .icon4 {
  color: #fd7b3f;
  top: 50%;
  right: 10%;
  animation: box-shape linear 5s infinite;
}
@media only screen and (min-width: 992px) {
  .background-shapes .icon4 {
    top: 45%;
    right: 5%;
  }
}
.background-shapes .icon5 {
  color: #3cf517;
  top: 40%;
  left: 15%;
  animation: box-shape linear 5s infinite;
}
@media only screen and (min-width: 576px) {
  .background-shapes .icon5 {
    top: 35%;
    left: 75%;
  }
}
@media only screen and (min-width: 992px) {
  .background-shapes .icon5 {
    top: 15%;
    left: 80%;
  }
}
.background-shapes .box1 {
  border: 3px solid #fd3f3f;
  top: 20%;
  left: 10%;
}
@media only screen and (min-width: 576px) {
  .background-shapes .box1 {
    left: 5%;
    top: 18%;
  }
}
.background-shapes .box2 {
  border: 3px solid #3f43fd;
  top: 90%;
  left: 60%;
}
@media only screen and (min-width: 992px) {
  .background-shapes .box2 {
    top: 20%;
  }
}
.background-shapes .box3 {
  border: 3px solid #fd3fed;
  top: 30%;
  left: 90%;
}
.background-shapes .box4 {
  border: 3px solid #5ffd3f;
  top: 70%;
  left: 15%;
}
@media only screen and (min-width: 992px) {
  .background-shapes .box4 {
    top: 60%;
  }
}
.background-shapes .box5 {
  border: 3px solid #fd7b3f;
  top: 40%;
  left: 48%;
}
@media only screen and (min-width: 576px) {
  .background-shapes .box5 {
    top: 45%;
    left: 50%;
  }
}
@media only screen and (min-width: 992px) {
  .background-shapes .box5 {
    top: 50%;
  }
}
.background-shapes .dot1 {
  background: #7717f5;
  top: 80%;
  left: 35%;
}
@media only screen and (min-width: 992px) {
  .background-shapes .dot1 {
    top: 60%;
  }
}
.background-shapes .dot2 {
  background: #3cf517;
  top: 70%;
  left: 85%;
}
@media only screen and (min-width: 992px) {
  .background-shapes .dot2 {
    top: 60%;
  }
}
.background-shapes .dot3 {
  background: #2617f5;
  top: 25%;
  left: 39%;
}
@media only screen and (min-width: 576px) {
  .background-shapes .dot3 {
    top: 28%;
  }
}
@media only screen and (min-width: 992px) {
  .background-shapes .dot3 {
    top: 18%;
  }
}
.background-shapes .dot4 {
  background: #f51717;
  top: 20%;
  left: 68%;
}
@media only screen and (min-width: 576px) {
  .background-shapes .dot4 {
    top: 50%;
    left: 10%;
  }
}
@media only screen and (min-width: 992px) {
  .background-shapes .dot4 {
    top: 40%;
    left: 5%;
  }
}

footer {
  padding: 2rem 0;
  text-align: center;
  color: #fff;
  background-color: rgb(51, 51, 51);
}
@media only screen and (max-width: 576px) {
  footer > div h2 span {
    font-weight: 400;
    font-size: 1.3rem;
  }
}
@media only screen and (min-width: 576px) {
  footer > div h2 span {
    font-weight: 400;
    font-size: 1.3rem;
  }
}
footer p {
  color: #e8e8e8;
}
footer .social-icon > a > i {
  font-size: 1.5rem;
  padding: 0 10px;
  color: rgb(224, 224, 224);
  transition: 300ms;
}
footer .social-icon a:nth-child(1) i:hover {
  transition: 300ms;
  color: rgb(35, 86, 255);
}
footer .social-icon a:nth-child(2) i:hover {
  transition: 300ms;
  color: rgb(128, 128, 128);
}
footer .social-icon a:nth-child(3) i:hover {
  transition: 300ms;
  color: rgb(193, 35, 255);
}
footer .social-icon a:nth-child(4) i:hover {
  transition: 300ms;
  color: rgb(255, 35, 53);
}
footer .legal p {
  font-size: 0.9rem;
  color: #fff;
}

.hero-area {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 8rem 20rem;
}
@media only screen and (max-width: 576px) {
  .hero-area {
    flex-direction: column;
    padding: 3rem 2rem;
  }
}
@media only screen and (min-width: 576px) {
  .hero-area {
    flex-direction: column;
    padding: 3rem 2rem;
  }
}
@media only screen and (min-width: 992px) {
  .hero-area {
    flex-direction: row;
    padding: 8rem 6rem;
  }
}
@media only screen and (min-width: 1200px) {
  .hero-area {
    padding: 8rem 1rem;
    margin-right: 20rem;
  }
}
.hero-area img {
  width: 25rem;
}
@media only screen and (min-width: 1200px) {
  .hero-area .img-responsive {
    max-width: 140%;
  }
}
.hero-area--contents {
  max-width: 34rem;
}
@media only screen and (min-width: 992px) {
  .hero-area--contents {
    max-width: 28rem;
  }
}
@media only screen and (min-width: 1200px) {
  .hero-area--contents {
    padding-right: 1rem;
  }
}
.hero-area--title {
  font-size: 3rem;
  font-weight: 600;
}
@media only screen and (max-width: 576px) {
  .hero-area--title {
    font-size: 2rem;
  }
  .hero-area--title span {
    font-size: 1.3rem;
  }
}
@media only screen and (min-width: 576px) {
  .hero-area--title {
    font-size: 1.8rem;
  }
  .hero-area--title span {
    font-size: 1.2rem;
  }
}
@media only screen and (min-width: 992px) {
  .hero-area--title {
    font-size: 2.2rem;
  }
  .hero-area--title span {
    font-size: 1.9rem;
  }
}
@media only screen and (min-width: 1200px) {
  .hero-area--title {
    font-size: 2.5rem;
  }
  .hero-area--title span {
    font-size: 1.9rem;
  }
}
.hero-area--desc {
  text-transform: capitalize;
  margin-top: 2rem;
  font-size: 1.2rem;
  line-height: 1.8;
  color: gray;
}
@media only screen and (max-width: 576px) {
  .hero-area--desc {
    font-size: 0.9rem;
  }
}
@media only screen and (min-width: 576px) {
  .hero-area--desc {
    font-size: 0.9rem;
  }
}
@media only screen and (min-width: 992px) {
  .hero-area--desc {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 992px) {
  .hero-area--desc {
    font-size: 1rem;
  }
}

.about-area {
  background-color: #3135e8;
  display: flex;
  padding: 8rem 20rem;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 576px) {
  .about-area {
    flex-direction: column;
    padding: 4rem 2rem;
    margin-top: 0;
  }
}
@media only screen and (min-width: 576px) {
  .about-area {
    flex-direction: column;
    padding: 4rem 2rem;
    margin-top: 0;
  }
}
@media only screen and (min-width: 992px) {
  .about-area {
    flex-direction: row;
    padding: 8rem 6rem;
    align-items: center;
    margin-top: 0;
  }
}
@media only screen and (min-width: 1200px) {
  .about-area {
    flex-direction: row;
    padding: 8rem 15rem;
    align-items: center;
    margin-top: 0;
  }
}
.about-area h2 {
  font-size: 3rem;
}
@media only screen and (max-width: 576px) {
  .about-area h2 {
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: 576px) {
  .about-area h2 {
    font-size: 2rem;
  }
}
@media only screen and (min-width: 992px) {
  .about-area h2 {
    font-size: 3rem;
  }
}
.about-area--img {
  width: 32rem;
}
@media only screen and (min-width: 576px) {
  .about-area--img {
    width: 25rem;
  }
}
@media only screen and (min-width: 992px) {
  .about-area--img {
    width: 100rem;
    padding-right: 3rem;
  }
}
.about-area--content {
  color: #fff;
  text-transform: capitalize;
}
@media only screen and (max-width: 576px) {
  .about-area--content {
    margin: 0;
  }
}
@media only screen and (min-width: 576px) {
  .about-area--content {
    margin: 0;
  }
}
.about-area p {
  line-height: 2;
  color: #cfcfcf;
}
@media only screen and (max-width: 576px) {
  .about-area p {
    font-size: 0.9rem;
  }
}
@media only screen and (min-width: 576px) {
  .about-area p {
    font-size: 0.9rem;
  }
}
@media only screen and (min-width: 992px) {
  .about-area p {
    font-size: 1rem;
  }
}

.roadmap {
  padding: 8rem 20rem;
  background: rgba(128, 128, 128, 0.0392156863);
}
@media only screen and (max-width: 576px) {
  .roadmap {
    padding: 4rem 2rem;
  }
}
@media only screen and (min-width: 576px) {
  .roadmap {
    padding: 4rem 2rem;
  }
}
@media only screen and (min-width: 992px) {
  .roadmap {
    padding: 8rem 4rem;
  }
}
.roadmap--heading {
  text-align: center;
}
.roadmap--heading h2 {
  font-size: 2rem;
}
.roadmap--heading p {
  color: gray;
}
.roadmap--items {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  text-transform: capitalize;
}
@media only screen and (max-width: 576px) {
  .roadmap--items {
    flex-direction: column;
  }
}
@media only screen and (min-width: 576px) {
  .roadmap--items {
    flex-direction: column;
  }
}
@media only screen and (min-width: 992px) {
  .roadmap--items {
    flex-direction: row;
  }
}
.roadmap--item {
  position: relative;
  padding: 3rem 1rem;
  text-align: center;
  max-width: 350px;
  cursor: pointer;
  filter: grayscale(100%);
  transition: 500ms;
}
@media only screen and (min-width: 992px) {
  .roadmap--item {
    max-width: 600px;
  }
}
.roadmap--item:hover .roadmap--item__img::after {
  animation: rotate-infinite 5000ms linear infinite;
}
.roadmap--item:hover {
  filter: grayscale(0);
}
@media only screen and (min-width: 992px) {
  .roadmap--item {
    flex: 1;
  }
}
.roadmap--item__img {
  position: relative;
  width: 100px;
  height: 100px;
  margin: 0 auto 30px;
}
.roadmap--item__img img {
  width: 60px;
  margin-top: 25px;
}
.roadmap--item__img::after {
  position: absolute;
  border: 5px dotted #3f43fd;
  height: 100%;
  width: 100%;
  content: "";
  border-radius: 50%;
  top: 0;
  left: -5px;
}
.roadmap--item__contents {
  margin-top: 2rem;
}
.roadmap--item__contents h5 {
  font-size: 1.5rem;
  font-weight: 600;
}
.roadmap--item__contents p {
  color: gray;
  line-height: 1.5;
}
.roadmap--item:not(:last-child)::before {
  position: absolute;
  top: 25%;
  right: -20px;
  content: "\f054";
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  width: 70px;
  height: 70px;
  color: #020702;
  font-size: 3rem;
  line-height: 1;
  z-index: 1;
  transition: 500ms;
}
@media only screen and (max-width: 576px) {
  .roadmap--item:not(:last-child)::before {
    content: "\f078";
    top: 90%;
    left: 39%;
  }
}
@media only screen and (min-width: 576px) {
  .roadmap--item:not(:last-child)::before {
    content: "\f078";
    top: 90%;
    left: 39%;
  }
}
@media only screen and (min-width: 992px) {
  .roadmap--item:not(:last-child)::before {
    content: "\f054";
    top: 25%;
    left: auto;
    right: 0px;
  }
}
.roadmap--item:hover:not(:last-child)::before {
  right: -10%;
  transition: 500ms;
  color: #3f43fd;
}
.roadmap--item:hover h5 {
  color: #3f43fd;
  transition: 500ms;
}
.roadmap--item:hover:last-child:after {
  position: absolute;
  content: "😊 👍";
  font-weight: 600;
  top: 25%;
  right: -25px;
  font-size: 3rem;
  transition: 500ms;
}
@media only screen and (max-width: 576px) {
  .roadmap--item:hover:last-child:after {
    top: 90%;
    left: 0;
  }
}
@media only screen and (min-width: 576px) {
  .roadmap--item:hover:last-child:after {
    top: 90%;
    left: 0;
  }
}
@media only screen and (min-width: 992px) {
  .roadmap--item:hover:last-child:after {
    top: 25%;
    right: auto;
    left: 70%;
    font-size: 2.5rem;
    width: 120px;
  }
}

.courses {
  padding: 8rem 20rem;
  background: #3135e8;
}
@media only screen and (max-width: 576px) {
  .courses {
    padding: 4rem 2rem;
  }
}
@media only screen and (min-width: 576px) {
  .courses {
    padding: 4rem 2rem;
  }
}
@media only screen and (min-width: 992px) {
  .courses {
    padding: 8rem 4rem;
  }
}
@media only screen and (min-width: 992px) {
  .courses {
    padding: 8rem 5rem;
  }
}
@media only screen and (min-width: 1200px) {
  .courses {
    padding: 8rem 20rem;
  }
}
.courses--heading {
  text-transform: capitalize;
  text-align: center;
}
.courses--heading h2 {
  font-size: 2rem;
  color: #fff;
}
@media only screen and (max-width: 576px) {
  .courses--heading h2 {
    font-size: 1.5rem;
  }
}
.courses--heading p {
  color: rgb(223, 223, 223);
}
@media only screen and (max-width: 576px) {
  .courses--heading p {
    font-size: 0.9rem;
  }
}
.courses--info {
  text-align: center;
  color: rgb(219, 219, 219);
}
.courses--info a {
  color: #fff;
}
.courses--info a:hover {
  text-shadow: 2px 2px 10px #000;
}
.courses-cards {
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 576px) {
  .courses-cards {
    align-items: center;
    flex-direction: column;
  }
}
@media only screen and (min-width: 576px) {
  .courses-cards {
    flex-direction: column;
    align-items: center;
  }
}
@media only screen and (min-width: 992px) {
  .courses-cards {
    flex-direction: row;
    align-items: stretch;
  }
}
.courses-card {
  background: #fff;
  max-width: 380px;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}
@media only screen and (min-width: 992px) {
  .courses-card {
    max-width: 275px;
  }
}
@media only screen and (min-width: 1200px) {
  .courses-card {
    max-width: 300px;
  }
}
.courses-card:hover {
  transition: 500ms;
  transform: scale(1.009);
  box-shadow: 2px 2px 20px 0.5px rgb(255, 191, 15);
}
.courses-card img {
  width: 380px;
}
@media only screen and (min-width: 992px) {
  .courses-card img {
    max-width: 275px;
  }
}
@media only screen and (min-width: 1200px) {
  .courses-card img {
    max-width: 300px;
  }
}
.courses-card__body {
  padding: 1.5rem;
  text-align: center;
}
.courses-card__body h4 {
  font-size: 1.5rem;
}
@media only screen and (max-width: 576px) {
  .courses-card__body h4 {
    font-size: 1.3rem;
  }
}
@media only screen and (min-width: 992px) {
  .courses-card__body h4 {
    font-size: 1.2rem;
  }
}
.courses-card__body p {
  color: gray;
  line-height: 1.5;
}
@media only screen and (max-width: 576px) {
  .courses-card__body p {
    font-size: 0.9rem;
  }
}

.contact {
  padding: 8rem 20rem;
  background: rgb(216, 216, 216);
}
@media only screen and (max-width: 576px) {
  .contact {
    padding: 4rem 2rem;
  }
}
@media only screen and (min-width: 576px) {
  .contact {
    padding: 4rem 2rem;
  }
  .contact img {
    width: 28rem;
  }
}
@media only screen and (min-width: 576px) and (min-width: 992px) {
  .contact img {
    width: 25rem;
  }
}
@media only screen and (min-width: 992px) {
  .contact {
    padding: 8rem 6rem;
  }
}
@media only screen and (min-width: 1200px) {
  .contact {
    padding: 8rem 10rem;
  }
}
.contact-card {
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 3rem;
  border-radius: 6px;
}
@media only screen and (max-width: 576px) {
  .contact-card {
    flex-direction: column;
    padding: 2rem;
    align-items: initial;
  }
}
@media only screen and (min-width: 576px) {
  .contact-card {
    flex-direction: column;
    padding: 2rem;
    align-items: initial;
  }
}
@media only screen and (min-width: 992px) {
  .contact-card {
    flex-direction: row;
  }
}
.contact-card--contents {
  flex-grow: 1;
}
.contact-card--contents h2 {
  font-size: 1.2rem;
}
@media only screen and (min-width: 992px) {
  .contact-card--contents h2 {
    font-size: 1.5rem;
  }
}
.contact-card--contents p {
  color: gray;
  text-transform: capitalize;
}

/*# sourceMappingURL=style.css.map */
