@use "../abstract/function" as fun;
@use "../abstract/mixins" as mixins;

.about-area {
  background-color: fun.theme-color("primary-hover");
  display: flex;
  padding: 8rem 20rem;
  justify-content: center;
  align-items: center;

  @include mixins.responsive(xs) {
    flex-direction: column;
    padding: 4rem 2rem;
    margin-top: 0;
  }

  @include mixins.responsive(sm) {
    flex-direction: column;
    padding: 4rem 2rem;
    margin-top: 0;
  }

  @include mixins.responsive(lg) {
    flex-direction: row;
    padding: 8rem 6rem;
    align-items: center;
    margin-top: 0;
  }

  h2 {
    font-size: 3rem;

    @include mixins.responsive(xs) {
      font-size: 1.5rem;
    }

    @include mixins.responsive(sm) {
      font-size: 2rem;
    }
  }

  &--img {
    width: 32rem;

    @include mixins.responsive(sm) {
      width: 25rem;
    }

    @include mixins.responsive(lg) {
      width: 100rem;
      padding-right:  3rem;
    }
  }

  &--content {
    color: #fff;
    text-transform: capitalize;

    @include mixins.responsive(xs) {
      margin: 0;
    }

    @include mixins.responsive(sm) {
      margin: 0;

    }
  }
  p {
    line-height: 2;
    color: #cfcfcf;

    @include mixins.responsive(xs) {
      font-size: 0.9rem;
    }

    @include mixins.responsive(sm) {
      font-size: 0.9rem;
    }
  }
}
