@use "../abstract/function" as fun;
@use "../abstract/mixins" as mixins;

.contact {
  padding: 8rem 20rem;
  background: rgb(216, 216, 216);

  @include mixins.responsive(xs) {
    padding: 4rem 2rem;
  }

  @include mixins.responsive(sm) {
    padding: 4rem 2rem;

    img {
      width: 28rem;

      @include mixins.responsive(lg) {
        width: 25rem;
      }
    }
  }

  @include mixins.responsive(lg) {
    padding: 8rem 6rem;
  }
  @include mixins.responsive(xlg) {
    padding: 8rem 10rem;
  }

  &-card {
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 3rem;
    border-radius: 6px;

    @include mixins.responsive(xs) {
      flex-direction: column;
      padding: 2rem;
      align-items: initial;
    }

    @include mixins.responsive(sm) {
      flex-direction: column;
      padding: 2rem;
      align-items: initial;
    }

    @include mixins.responsive(lg) {
      flex-direction: row;
    }

    &--contents {
      flex-grow: 1;

      h2 {
        font-size: 1.2rem;

        @include mixins.responsive(lg) {
          font-size: 1.5rem;
        }
      }
      p {
        color: gray;
        text-transform: capitalize;
      }
    }
  }
}
