@use "../abstract/mixins" as mixins;

.hero-area {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 8rem 20rem;

  @include mixins.responsive(xs) {
    flex-direction: column;
    padding: 3rem 2rem;
  }

  @include mixins.responsive(sm) {
    flex-direction: column;
    padding: 3rem 2rem;
  }

  @include mixins.responsive(lg) {
    flex-direction: row;
    padding: 8rem 6rem;
  }

  img {
    width: 25rem;
  }

  &--contents {
    max-width: 34rem;

    @include mixins.responsive(lg) {
      max-width: 28rem;
    }
  }

  &--title {
    font-size: 3rem;
    font-weight: 600;

    @include mixins.responsive(xs) {
      font-size: 2rem;

      span {
        font-size: 1.3rem;
      }
    }


    @include mixins.responsive(sm) {
      font-size: 1.8rem;

      span {
        font-size: 1.2rem;
      }
    }

    @include mixins.responsive(lg) {
      font-size: 2.2rem;

      span {
        font-size: 1.9rem;
      }
    }
  }
  &--desc {
    text-transform: capitalize;
    margin-top: 2rem;
    font-size: 1.2rem;
    line-height: 1.8;
    color: gray;

    @include mixins.responsive(xs) {
      font-size: 0.9rem;
    }
    @include mixins.responsive(sm) {
      font-size: 0.9rem;
    }
    @include mixins.responsive(lg) {
      font-size: 1rem;
    }
  }
}
