.card {
    background: white;
    padding: 30px;
    margin: 40px;
    border-radius: 10px;
  
    &__title {
      color: blue;
      font-family: $app-font;
      font-size: 23px;
    }
    &__para {
      font-family: $app-font;
      font-weight: 500;
      font-size: 16px;
      font-style: italic;
      line-height: 22px;
      letter-spacing: 2px;
      text-indent: 25px;
      color: rgb(63, 63, 63);
    }
  
    &__btn {
      margin-top: 10px;
      background: $app-color;
      border-radius: 5px;
      border-color: transparent;
      padding: 5px 10px;
      color: whitesmoke;
      cursor: pointer;
    }
  }